* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}
body{
    background-color: rgb(129, 172, 253);
}
.header{
    max-width: 1600px;
    height: 120px;
    background-color: darkolivegreen;
    border-radius: 0 0 10px 10px;
    position: relative;
}
.header::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 8px;
    background-color: blanchedalmond;
    bottom: 0;
}
.header__menu{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header__menu-nav{
    color: bisque;
    text-shadow: 1px 1px 1px #000;
    font-weight: 900;
    font-size: 20px;
    font-style: italic;
    text-decoration: overline;
    transition: 0.4s;
}
.header__menu-nav:hover{
    color: #ffe16b;
}
.regestration{
    border-radius: 8px;
    max-width: 650px;
    background-image: url(/img/9919805.jpg);
    background-size: cover;
    margin: 0px auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 6px inset #ffec82;
    height: 400px;
}
.title{
    margin-top: 50px;
    text-align: center;
    color: bisque;
    text-shadow: 1px 1px 1px #000;
    font-size: 38px;
    font-style: italic;
}
.text{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(246, 255, 0);
    text-shadow: 1px 1px 1px #000;
    font-weight: 900;
}
.regestration-title{
    text-align: center;
    margin: 20px auto;
    color: bisque;
    text-shadow: 1px 1px 1px #000;
    font-weight: 900;
    text-transform: uppercase;
    transition: 0.4s;
}
.regestration:hover{
    cursor: pointer;
}
.regestration__username{
    margin: 10px auto;
    border-radius: 3px;
    transform: scale(1.7);
    background-color: transparent;
    color: beige;
    transition: 0.4s;
    font-style: italic;
}
.regestration__username:hover{
    cursor: pointer;
}
.regestration__email{
    margin: 10px auto;
    border-radius: 3px;
    transform: scale(1.7);
    background-color: transparent;
    color: beige;
    transition: 0.4s;
    font-style: italic;
}
.regestration__email:hover{
    cursor: pointer;
}
.regestration__password{
    margin: 10px auto;
    border-radius: 3px;
    transform: scale(1.7);
    background-color: transparent;
    color: beige;
    transition: 0.4s;
    font-style: italic;
}
.regestration__password:hover{
    cursor: pointer;
}
.regestration__tel{
    margin: 10px auto;
    border-radius: 3px;
    transform: scale(1.7);
    background-color: transparent;
    color: beige;
    transition: 0.4s;
    font-style: italic;
}
.regestration__tel:hover{
    cursor: pointer;
}
.regestration__button{
    padding: 20px 20px;
    margin: 25px auto;
    border-radius: 6px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
    color: blanchedalmond;
    background-color: darkolivegreen;
    text-shadow: 1px 1px 1px #000;
    box-shadow: 1px 1px 1px #000;
    transition: 0.4s;
    position: relative;
}
.regestration__button::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 7px;
    border-radius: 0 0 6px 6px;
    background-color: #ffec82;
    bottom: 0;
    left: 0;
    animation: btnform 3s linear infinite alternate;
}
@keyframes btnform{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.regestration__button:hover{
    cursor: pointer;
}
.back{
    margin-top: 80px;
    max-width: 180px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.regestration__back{
    text-align: center;
    color: bisque;
    font-weight: 900;
    font-size: 22px;
    font-style: italic;
    text-shadow: 1px 1px 1px #000;
    background-color: rgb(70, 110, 1);
    padding: 20px;
    border-radius: 8px;
}

.modal{
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: darkolivegreen;
    position: fixed;
    top: 20%;
    right: -600px;
    transition: 1.75s;
}
.modal.false__modal{
    right: 10%;
}
.modal__img{
    padding: 20px 20px 20px 20px;
}
.modal__text{
    color: bisque;
    padding: 0 0 0 3px;
    font-family: 'Roboto';
    font-weight: 600;
    text-shadow: 0.35px 0.30px rgb(0, 0, 0);
}
.modal__email{
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background-color: darkolivegreen;
    position: fixed;
    top: -600px;
    transition: 1.75s;
    right: 20%;
}
.modal__email.false__modal__email{
    top: 20%;
    right: 20%;
}
.modal__email{
    padding: 20px 20px 20px 20px;
}
.modal__email__text{
    color:  bisque;
    font-family: 'Roboto';
    font-weight: bolder;
    text-shadow: 1px 1px 1px #000;
}
.modal__password{
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: darkolivegreen;
    position: fixed;
    bottom: -600px;
    transition: 1.75s;
    left: 10%;
    padding: 20px 20px 20px 20px;
}
.modal__password.false__modal__password{
    bottom: 30%;
    left: 10%;
}
.modal__password__text{
    font-family: 'Roboto';
    font-weight: bolder;
    color: bisque;
    text-shadow: 1px 1px 1px #000;
}
.modal__password__img{
    padding: 0 40px 0 0;
}
.modal__tel{
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    background-color: darkolivegreen;
    position: fixed;
    left: -600px;
    top: 20%;
    transition: 1.75s;
}
.modal__tel.false__modal__tel{
    left: 12%;
    top: 20%;
}
.modal__tel__text{
    font-family: 'Roboto';
    font-weight: bolder;
    color: bisque;
    text-shadow: 1px 1px 1px #000;
}
.footer{
    position: relative;
    margin-top: 200px;
    background-color: darkolivegreen;
    height: 300px;
}
.footer::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 8px;
    background-color: blanchedalmond;
}
.footer__txt{
    text-align: center;
    margin-top: 10px;
    color: beige;
    text-shadow: 1px 1px 1px #000;
    font-weight: 900;
    font-style: italic;
}

@media(max-width: 767px){
    .footer-txt{
        font-size: 15px;
    }
}
@media(max-width: 575px){
    .footer-txt{
        font-size: 12px;
    }
}